**Problem 3 Part 2**

In [1]:
import pandas as pd

In [2]:
# Read in the data
car_truck = pd.read_csv('ECI256_NGSIM/car_truck data/ECI256_I80_Car_Following_Car-Truck_trajectory.csv',
                       usecols = ['Vehicle_ID', 'Frame_ID', 'v_length', 'v_Vel', 'v_Acc', 'Preceding', 'Following', 'Space_Headway', 'Time_Headway']
                       )
truck_car = pd.read_csv('ECI256_NGSIM/car_truck data/ECI256_I80_Car_Following_Truck-Car_trajectory.csv',
                       usecols = ['Vehicle_ID', 'Frame_ID', 'v_length', 'v_Vel', 'v_Acc', 'Preceding', 'Following', 'Space_Headway', 'Time_Headway']
                       )

In [3]:
# Reindex the dataframe
car_truck['ID'] = [str(x) + ',' + str(y) for x, y in zip(car_truck['Vehicle_ID'], car_truck['Frame_ID'])]
truck_car['ID'] = [str(x) + ',' + str(y) for x, y in zip(truck_car['Vehicle_ID'], truck_car['Frame_ID'])]

*CMC Speeds*

In [4]:
# Calculate CMC Speeds
car_truck_tau = 1.2
truck_car_tau = 2.0
car_truck['CMC Speed'] = (car_truck['Space_Headway'] - car_truck['v_length']) / car_truck_tau
truck_car['CMC Speed'] = (truck_car['Space_Headway'] - truck_car['v_length']) / truck_car_tau

*GMC Speeds*

In [5]:
# Find preceding index
car_truck['Preceding Index'] = [str(x) + ',' + str(y) for x, y in zip(car_truck['Preceding'], car_truck['Frame_ID'])]
truck_car['Preceding Index'] = [str(x) + ',' + str(y) for x, y in zip(truck_car['Preceding'], truck_car['Frame_ID'])]

# Find preceding speed by merging another dataframe of speeds on the index of preceding index
car_truck_speeds = car_truck[['ID', 'v_Vel']]
car_truck_speeds = car_truck_speeds.rename(columns = {'ID':'Preceding Index', 'v_Vel': 'Preceding Velocity'})
truck_car_speeds = truck_car[['ID', 'v_Vel']]
truck_car_speeds = truck_car_speeds.rename(columns = {'ID':'Preceding Index', 'v_Vel': 'Preceding Velocity'})

display(car_truck_speeds, truck_car_speeds)

test = pd.merge(left = car_truck, right = car_truck_speeds, left_on = 'Preceding Index', right_on = 'Preceding Index', how = 'left')
# truck_car = pd.merge(left = truck_car, right = truck_car_speeds, left_on = 'Preceding Index', right_on = 'ID', how = 'left')

      Preceding Index  Preceding Velocity
0            705,3208               35.28
1            705,3209               35.28
2            705,3210               35.28
3            705,3211               35.28
4            705,3212               35.28
...               ...                 ...
48117       2899,8627               17.65
48118       2899,8628               22.12
48119       2899,8629               22.12
48120       2899,8630               22.12
48121       2899,8631               22.12

[48122 rows x 2 columns]

      Preceding Index  Preceding Velocity
0           2143,8693               33.58
1           2143,8694               33.58
2           2143,8695               33.58
3           2143,8696               33.58
4           2143,8697               33.58
...               ...                 ...
34783       1368,4502               36.32
34784       1368,4503               36.32
34785       1368,4504               36.32
34786       1368,4505               36.32
34787       1368,4506               36.32

[34788 rows x 2 columns]

In [6]:
test

,Vehicle_ID,Frame_ID,v_length,v_Vel,v_Acc,Preceding,Following,Space_Headway,Time_Headway,ID,CMC Speed,Preceding Index,Preceding Velocity
0,705,3208,14.4,35.28,0.0,691,0,88.21,2.50,"705,3208",61.508333,"691,3208",36.25
1,705,3209,14.4,35.28,0.0,691,0,87.82,2.49,"705,3209",61.183333,"691,3209",36.25
2,705,3210,14.4,35.28,0.0,691,0,89.44,2.54,"705,3210",62.533333,"691,3210",36.25
3,705,3211,14.4,35.28,0.0,691,0,88.07,2.50,"705,3211",61.391667,"691,3211",36.22
4,705,3212,14.4,35.28,0.0,691,0,87.18,2.47,"705,3212",60.650000,"691,3212",36.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48117,2899,8627,37.8,17.65,11.2,2888,2917,25.76,1.46,"2899,8627",-10.033333,"2888,8627",NaN
48118,2899,8628,37.8,22.12,11.2,2888,2917,26.09,1.18,"2899,8628",-9.758333,"2888,8628",NaN
48119,2899,8629,37.8,22.12,0.0,2888,2917,25.74,1.16,"2899,8629",-10.050000,"2888,8629",NaN
48120,2899,8630,37.8,22.12,0.0,2888,2917,25.07,1.13,"2899,8630",-10.608333,"2888,8630",NaN
48121,2899,8631,37.8,22.12,0.0,2888,2917,24.41,1.10,"2899,8631",-11.158333,"2888,8631",NaN